:root {
    --mount-meadow: #1bbc9c;
    --white-smoke: #f0f0f0;
    --night-rider: #343434;
    --black: #191b17;
    --transition: all 0.5s ease-in-out;
}

* {
    font-family: 'Hind Siliguri', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    color: var(--black);
    font-size: 1rem;
    font-weight: 300;
    line-height: 1.5;
    text-rendering: optimizeLegibility;
    scroll-behavior: smooth;
}

img {
    width: 100%;
}

.logo {
    height: 100px;
    width: 120px;
}

a {
    text-decoration: none;
    color: var(--black);
}

li {
    list-style-type: none;
}

button {
    cursor: pointer;
    outline: 0;
    background: transparent;
}

.container {
    max-width: 1320px;
    margin: 0 auto;
    padding: 0 20px;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0.6rem 0;
    line-height: 1.25;
    font-weight: 400;
    text-transform: uppercase;
}

.text {
    margin: 0.6rem 0;
    opacity: 0.8;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

section {
    padding: 6.5rem 0;
}

.title {
    text-align: center;
    margin: 20px 0;
}

.title h2 {
    font-size: 2.2rem;
    color: white;
}

.title .text {
    font-weight: 500;
    font-size: 1.1rem;
    color: whitesmoke;
}

.header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.7)), url(../assets/2ndoption.png);
    min-height: 100vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #fff;
    z-index: 999;
}

.brand-and-toggler {
    font-size: 1.65rem;
    padding: 0.8rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-brand {
    font-weight: 500;
    color: var(--night-rider);
}

.navbar-toggler {
    border: none;
    color: #468ECB;
}

.navbar-nav {
    margin: 0.2rem 0 0.6rem 0;
}

.nav-item {
    padding: 0.6rem 0;
}

.nav-link {
    text-transform: uppercase;
    font-size: 0.95rem;
    letter-spacing: 1.5px;
    font-weight: 400;
    opacity: 0.65;
    transition: var(--transition);
}

.nav-link:hover {
    color: #468ECB!important;
}

.navbar-collapse {
    display: none;
}

.hero-div {
    flex: 1;
    flex-direction: column;
    text-align: center;
    margin-top: 100px;
}

.hero-div h1 {
    font-size: 2.55rem;
    padding-bottom: 0.4rem;
}

.hero-div p {
    color: var(--white-smoke);
    font-size: 1.05rem;
    letter-spacing: 3px;
}

.hero-btns {
    margin-top: 2.8rem;
}

.hero-btns button {
    border: 3.5px solid #fff;
    border-radius: 2rem;
    padding: 0.8rem 2rem;
    text-transform: uppercase;
}

.btn-trans {
    color: #fff;
    transition: var(--transition);
    display: none;
}

.btn-trans:hover {
    background: #468ECB;
    border-color: #468ECB;
}

.btn-white {
    background: none;
    color: #fff;
    transition: var(--transition);
}

.btn-white:hover {
    background: transparent;
    color: #fff;
}

i.fab.fa-instagram {
    background: none;
    border: none;
    padding: 0;
    color: #fff;
}

.detail {
    background: var(--white-smoke);
}

.detail-item {
    background: #fff;
    text-align: center;
    box-shadow: 0 1px 2px 0 rgba(90, 91, 95, 0.1);
    margin: 2rem 0;
    padding: 3.5rem 1.5rem;
    border-radius: 4px;
    transition: var(--transition);
}

.detail-item:hover {
    box-shadow: 0 21px 19px -2px rgba(217, 217, 217, 1);
    transform: translateY(-5px);
}

.detail-item h2 {
    font-size: 1.4rem;
    opacity: 0.8;
    font-weight: 300;
}

.line {
    width: 45px;
    margin: 1.2rem auto;
    background: #468ECB;
    height: 2.5px;
}

.feature .title {
    text-align: left;
}

.feature-left img {
    width: 80%;
    margin: 0 auto;
}

.feature-right {
    margin-top: 4rem;
}

.feature-item {
    margin: 1.4rem 0;
    display: flex;
}

.feature-item div h3 {
    margin-top: 0;
    font-size: 1.4rem;
    font-weight: 300;
    opacity: 0.85;
}

.feature-item span {
    font-size: 1.1rem;
    color: #fff;
    background: #468ECB;
    align-self: flex-start;
    padding: 0.4rem 0.7rem;
    border-radius: 2px;
    margin-right: 1.4rem;
}

.video {
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.7)), url(../assets/0-02-05-305f19947f8a84c87b9fc1da6824dbd0571525b2a06c198b554fa4eeb8492832_432a68e5e86ed006.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    color: #fff;
    text-align: center;
}

.video a {
    color: #fff;
    border: none;
    background-color: #468ECB;
    border-radius: 50%;
    padding: 10px 15px;
    margin: 0 auto;
}

.video h2 {
    font-size: 2rem;
    color: var(--white-smoke);
    padding: 1.2rem 0;
}

.video p {
    font-size: 1.1rem;
    letter-spacing: 1px;
    color: var(--white-smoke);
    opacity: 0.7;
    padding: 20px;
}

.teamo .row {
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-direction: row;
}


.team-icons {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    background: var(--white-smoke);
    opacity: 0;
    transition: var(--transition);
}

.team-icons a {
    color: var(--night-rider);
    width: 50px;
    height: 50px;
    transition: var(--transition);
}

.team-icons a:hover {
    background: #468ECB;
    color: #fff;
}

.team-img:hover .team-icons {
    opacity: 1;
}

.team-info {
    text-align: center;
    padding: 1.5rem;
    line-height: 1;
}

.team-info h3 {
    font-size: 1.4rem;
    color: var(--night-rider);
}

.team-info span {
    font-size: 0.85rem;
    letter-spacing: 1px;
    font-weight: 500;
    opacity: 0.7;
}

.faq {
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.7)), url(../assets/products.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

.faq .row {
    margin-top: 2rem;
}

.faq-item {
    margin: 0.6rem 0;
}

.faq-head {
    background: var(--white-smoke);
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    padding: 0.2rem 1.8rem;
}

.faq-head h3 {
    font-weight: 300;
}

.faq-content {
    overflow: hidden;
    height: 0;
    padding: 0 1.8rem;
    transition: var(--transition);
}

.show-faq-content {
    height: 168px;
    padding: 0.6rem 1.8rem;
}

.pricing .row {
    margin-top: 2rem;
}

.pricing {
    background-color: #468ECB;
}

.pricing-item {
    border: 2.5px solid #f9f9f9;
    text-align: center;
    padding: 3.4rem 0;
    margin: 2rem 0;
}

.pricing-item h2 {
    color: var(--night-rider);
    opacity: 0.7;
    font-size: 1.5rem;
}

.pricing-item .price {
    padding: 1.5rem 0 1rem 0;
    line-height: 1.1;
}

.pricing-item .price span {
    display: block;
}

.pricing-item .price span:first-child {
    font-size: 2.6rem;
    letter-spacing: 2px;
    color: #468ECB;
}

.pricing-item .price span:last-child {
    font-size: 0.85rem;
    letter-spacing: 1px;
    font-weight: 500;
}

.pricing-item ul li {
    padding: 0.8rem 0;
    opacity: 0.7;
}

.testimonial {
    background-image: linear-gradient(rgba(27, 188, 156, 0.8), rgba(27, 188, 156, 0.9)), url(../assets/0-02-05-305f19947f8a84c87b9fc1da6824dbd0571525b2a06c198b554fa4eeb8492832_432a68e5e86ed006.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

.testimonial .title h2,
.testimonial .title {
    color: #fff;
}

.testimonial .row {
    margin-top: 2rem;
}

.testimonial-img {
    border: 4px solid #fff;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    margin: 2.5rem auto;
    padding: 0.5rem;
}

.testimonial-img img {
    border-radius: 50%;
}

.testimonial-item {
    text-align: center;
}

.testimonial-item p {
    font-size: 1.3rem;
    color: var(--white-smoke);
    line-height: 1.7;
}

.testimonial-item span {
    margin-top: 0.7rem;
    display: block;
    font-size: 1.1rem;
    color: #fff;
    font-weight: 500;
}

.contact .row {
    margin-top: 2rem;
}

.contact .row > div {
    margin: 2rem 0;
    padding: 1rem 0;
}

.contact .row > div h2 {
    font-size: 1.4rem;
    font-weight: 300;
    opacity: 0.9;
}

.contact-left form input,
.contact-left form textarea {
    width: 100%;
    font-size: 1.1rem;
    margin: 0.2rem 0;
    padding: 0.8rem 0.6rem;
    border: none;
    border-bottom: 1.5px solid #f0f0f0;
    outline: 0;
}

.contact-left form input::placeholder,
.contact-left form textarea::placeholder {
    font-size: 1.1rem;
    font-weight: 300;
    opacity: 0.8;
}

.contact-left form input:focus,
.contact-left form textarea:focus {
    border-color: var(--night-rider);
}

.submit-btn {
    margin: 1rem 0;
    border: none;
    font-size: 1.3rem;
    color: #fff;
    background: #468ECB;
    opacity: 0.9;
    padding: 0.8rem 3.4rem;
    border-radius: 2rem;
    transition: var(--transition);
}

.submit-btn:hover {
    background: var(--black);
}

.contact-right div {
    margin: 2rem 0;
}

.footer {
    text-align: center;
    background: var(--black);
    color: var(--white-smoke);
    padding: 2rem 0;
    height: 20vh;
}

.footer .text {
    opacity: 0.8;
}

.footer-links {
    display: flex;
    justify-content: center;
    margin-top: 1.6rem;
}

.footer-links a {
    color: var(--white-smoke);
    opacity: 0.8;
    width: 50px;
    height: 50px;
    margin: 0 0.2rem;
    border-radius: 50%;
    transition: var(--transition);
}

.footer-links a:hover {
    background: #468ECB;
}

.img-png-res {
    width: 70%;
    height: 60%;
}

/* #### Media Queries #### */

@media (max-width: 600px) {
    .contact-right {
        flex-direction: column;
    }
    .cookie-container {
        flex-direction: column;
        align-items: flex-start;
    }
    #cookieConsent p {
        text-align: center;
        margin-bottom: 10px;
    }
    #cookieConsent button {
        margin: 0 auto;
    }
}

@media (max-width: 768px) {
    .why-choose-us .content-wrapper,
    .natpro,
    .onama,
    .team .content-wrapper {
        flex-direction: column;
        text-align: center;
    }
    .why-choose-us .text-box,
    .why-choose-us .image-box,
    .natpro .picture,
    .team .team-item,
    .team .title {
        max-width: 100%;
        margin: 0;
    }
    .natpro .picture,
    .team .team-item {
        margin-bottom: 20px;
    }
    .contact .row {
        display: block;
    }
    .clpr {
        width: 50%;
    }
    .faq .natpro .title .text {
        font-size: 8px;
        padding: 24px;
    }
}

@media (min-width: 768px) {
    .detail .row {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
    }
    .detail-item {
        margin: 0;
    }
    .video h2 {
        font-size: 2.6rem;
    }
    .video p {
        font-size: 1.2rem;
        width: 75%;
        margin: 0 auto;
    }
    .team-item {
        margin: 0;
    }
    .faq .row {
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }
    .pricing .row {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
    }
    .pricing-item {
        margin: 0;
    }
    .testimonial-item p {
        width: 75%;
        margin-left: auto;
        margin-right: auto;
    }
    .contact .row {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 2rem;
    }
    .contact-right > div:first-child {
        margin-top: 0;
    }
}

@media (min-width: 992px) {
    .navbar {
        background: transparent;
        margin-top: 1.4rem;
    }
    .navbar .container {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .navbar-brand {
        color: var(--white-smoke);
        font-size: 2rem;
    }
    .navbar-toggler {
        display: none;
    }
    .navbar-collapse {
        display: block !important;
    }
    .navbar-nav {
        display: flex;
        margin: 0;
    }
    .nav-item {
        margin-left: 1.8rem;
    }
    .nav-link {
        color: var(--white-smoke);
    }
    .hero-div h1 {
        font-size: 3.8rem;
    }
    .btn-trans {
        display: inline-block;
        margin-right: 0.8rem;
    }
    .cng-navbar {
        box-shadow: 0 2px 5px 0 rgba(207, 205, 207, 0.3);
        margin-top: 0;
        background-color: #fff;
        transition: background-color 0.8s;
    }
    .cng-navbar .navbar-brand {
        color: var(--night-rider);
    }
    .cng-navbar .nav-link {
        color: var(--night-rider);
    }
    .feature .row {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
        column-gap: 2rem;
    }
    .feature-right {
        margin-top: 0;
    }
    .video p {
        width: 60%;
    }
}

@media (min-width: 1200px) {
    .hero-div h1 {
        width: 70%;
        margin-left: auto;
        margin-right: auto;
    }
    .detail .row {
        grid-template-columns: repeat(3, 1fr);
    }
    .pricing .row {
        grid-template-columns: repeat(3, 1fr);
    }
    .testimonial-item p {
        width: 60%;
    }
    .contact .row {
        column-gap: 4rem;
    }
    .contact-right {
        margin-top: 2%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }
}
.contact-right a {
    color: #fff;
    font-size: 1.2rem;
    display: block;
    margin: 1.2rem 0;
}

.natpro {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
}

.clpr {
    width: auto;
    height: 70%;
}

.picture {
    flex: 1;
    text-align: center;
}

.team {
    background-color: #468ECB;
}

.cleaning-img {
    width: 100%;
    height: 100%;
}

.onama {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
}

.why-choose-us {
    background-image: url("../assets/0-02-05-31b873fbecc11b009eea81d6ee94df65cebe53e57b95d0fb16407a89bf00f718_180bc6c27ab15ed1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    padding: 50px;
    text-align: center;
    background-position: 0 -750px;
    display: flex;
    flex-direction: row;
}

.why-choose-us .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.why-choose-us .section-title {
    font-size: 36px;
    margin-bottom: 40px;
    color: #468ECB;

}

.why-choose-us .content-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.why-choose-us .text-box {
    background: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
    flex: 1;
    max-width: 500px;
    margin: 20px;
}

.why-choose-us .text-box ul {
    list-style: none;
    padding: 0;
    text-align: left;
    color: #468ECB;
}

.why-choose-us .text-box ul li {
    font-size: 18px;
    margin-bottom: 10px;
    line-height: 1.5;
    position: relative;
    color: #468ECB;
    padding-left: 30px;
}

.why-choose-us .text-box ul li::before {
    content: "\2713";
    color: #468ECB;
    font-size: 20px;
    position: absolute;
    left: 0;
    top: 0;
}

.why-choose-us .image-box {
    flex: 1;
    max-width: 500px;
    margin: 20px;
}

.why-choose-us .image-box img {
    max-width: 100%;
    border-radius: 10px;
}



.contact-section .text {
    margin: 10px 0;
    color: #fff;
}

.contact-section button {
    background-color: #fff;
    color: #468ECB;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.contact-section button:hover {
    background-color: #e7e7e7;
}

.popup {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

.popup-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 600px;
    text-align: center;
    border-radius: 10px;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.team {
    background-color: #fff;
    background-image:
            linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.6)),
            url(../assets/autoamardora.jpg);
    background-size: cover;
    background-position: center, center -650px;
    color: #468ECB;
    padding: 50px 0;
}


.team .content-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.team .team-item {

    max-width: 40%;
    margin-right: 20px;
}

.team .team-img img {
    width: 100%;
    border-radius: 10px;
}

.team .title {
    max-width: 30%;
    background: rgba(255, 255, 255, 0.9);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: justify;
}

.team .title h2 {
    font-size: 36px;
    margin-bottom: 20px;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #468ECB;
}

.team .title p {
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 0;
    color: #468ECB;
}

#instagram-feed {
    text-align: center;
    margin: 40px 0;
}

#instagram-feed h2 {
    font-size: 2em;
    margin-bottom: 20px;
}

.insta-feed-wrapper {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
}
@media (max-width: 768px) {
    .why-choose-us .content-wrapper,
    .natpro,
    .onama,
    .team .content-wrapper {
        flex-direction: column;
        text-align: center;
    }

    .why-choose-us .text-box,
    .why-choose-us .image-box,
    .natpro .picture,
    .team .team-item,
    .team .title {
        max-width: 100%;
        margin: 0;
    }

    .natpro .picture,
    .team .team-item {
        margin-bottom: 20px;
    }

    .contact .row {
        display: block;
    }

    .clpr{
        width:50%;
    }

    .faq .natpro .title .text {
        font-size: 8px;
        padding: 24px;
    }
}

#cookieConsent {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #fff;
    color: #000;
    text-align: center;
    padding: 10px 0;
    z-index: 1000;
    display: none;
    box-sizing: border-box;
}

.cookie-container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    flex-wrap: wrap;
}

#cookieConsent p {
    margin: 0;
    flex: 1 1 300px;
    text-align: left;
}

#cookieConsent button {
    background-color: #468ECB;
    border: none;
    padding: 10px 20px;
    color: #fff;
    cursor: pointer;
    flex: 0 1 auto;
    margin-top: 10px;
}

@media (max-width: 600px) {
    .cookie-container {
        flex-direction: column;
        align-items: flex-start;
    }

    #cookieConsent p {
        text-align: center;
        margin-bottom: 10px;
    }

    #cookieConsent button {
        margin: 0 auto;
    }
}

.partner{
    color:white;
}

.office{
    border-radius: 15px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.3));
    color: white;
    padding: 20px;
    width: auto;
    height: auto;
}

.number{
    border-radius: 15px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.3));
    color: white;
    padding: 20px;
    width: fit-content;
}
.email{
    border-radius: 15px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.3));
    color: white;
    padding: 35px;
    width: fit-content;
}

.slatko{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.containero {
    width: 80%;
    margin: 0 auto;
    padding: 50px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/* Title Section */
.titleo h2 {
    text-align: center;
    font-size: 2.5rem;
    color: #FFFFFF;
    margin-bottom: 20px;
    position: relative;
}

.titleo h2::after {
    content: "";
    display: block;
    width: 100px;
    height: 3px;
    background-color: #007bff;
    margin: 10px auto;
}

.texto {
    text-align: justify;
    font-size: 1rem;
    color: #FFFFFF;
    line-height: 1.6;
    max-width: 800px;
    margin: 0 auto 50px;
    padding: 40px;
}

/* Team Row */
.team-row {
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

/* Team Item */
.team-itemo {
    width: 300px;
    overflow: hidden;
    border-radius: 10px;
    margin-top: 20%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
}

.team-itemo:hover {
    transform: scale(1.05);
}

/* Team Image */
.team-img img {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 10px;
}

.cleaning-products {
    background: var(--white-smoke);
    padding: 50px 0;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}

.cleaning-products h2 {
    font-size: 3rem;
    color: #333;
    margin-bottom: 20px;
}

.cleaning-products p {
    font-size: 1rem;
    color: black;
    max-width: 800px;
    margin: 0 auto 30px;
    text-align: justify;
}

.product-icons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 15%;
}

.product-icons img {
    width: 150px;
    height: auto;
}

.containercp{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.containercp p{
    background: rgba(255, 255, 255, 0.8); /* Semi-transparent background */
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    margin-bottom: 20px;
}

.contact-section {
    padding: 50px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.7)), url(../assets/0-02-05-e7fe390e96240cea66b3c2611da18f4765545c7d2414783dec087c2f65deeb2e_ae285abae29872b8.jpg);
    color: #fff;
    text-align: center;
    background-size: cover;
}

.contact-right {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
}

.office, .slatko, .contact-form {
    flex: 1;
    margin: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    color: #fff;
}

.contact-form h2 {
    margin-bottom: 20px;
}

.contact-form form {
    display: flex;
    flex-direction: column;
    padding: 30px;
    background-color: #fff;
    color: #468ECB;
border-radius: 10px;
}

.contact-form input, .contact-form textarea {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
}

.contact-form button {
    padding: 10px 15px;
    background-color: #468ECB;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.contact-form button:hover {
    background-color: #0056b3;
}

.office-img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    margin-top: 10px;
}

@media (max-width: 768px) {
    .contact-right {
        flex-direction: column;
    }
}

/* Stats Section */
.stats-section {
    padding: 50px 0;
    text-align: center;

    color: white;
    display: flex;
    border-radius: 15px;
    justify-content: center;
}

.stats-section .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}

/* Individual Stat Item */
.stat-item {
    background: rgba(255, 255, 255, 0.8); /* Semi-transparent background */
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    max-width: 250px;
    margin-bottom: 20px;
}

.stat-item .icon {
    font-size: 50px;
    margin-bottom: 10px;
}

/* Centering and appearance for the count-up effect */
.stat-item h3 {
    font-size: 2.5rem;
    margin: 10px 0;
    color: #468ECB;
    transition: all 0.5s ease-in-out;
}


.stat-item p {
    font-size: 1.1rem;
    margin: 0;
    color: #468ECB;
}

/* Responsive Layout */
@media (min-width: 768px) {
    .stats-section .container {
        flex-direction: row;
        justify-content: space-around;
    }
}
